html {
  height: 100%;
}

/* CSS EN GENERAL */

.show {
  display: block;
}

hr.solid { 
  border: none; 
  border-top: 1px solid #B0B3B8; 
  border-radius: 5px;
  margin: 10px auto;
  width: 95%;
}

ul {
  list-style-type: none;
}

a, p, h1, h2, h3, h4, h5, ul, bold {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

bold {
  font-weight: bold;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 50px;
}

label {
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.dropbtn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-weight: bold;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dropbtn:hover, .dropbtn:focus, .seguir-btn:hover, .busqueda-resultado-perfil:hover, #perfil-pic:hover, #perfil-pic-preview:hover, #banner-pic:hover, #crop-banner-btn:hover {
  transform: scale(1.02);
}

.dropdown-contenido, .dropdown-contenidoMB {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  text-align: center;
  top: 130%;
  line-height: 27px;
}

.dropdown-contenido a, .dropdown-contenidoMB a {
  color: black;
  padding: 9px 16px;
  display: block;
  border-radius: 10px;
}

.dropdown-contenido a:hover, .dropdown-contenidoMB a:hover {
  background-color: #f1f1f1;
}

.perfil-icon {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  margin-right: 8px;
}

.show {
  display: block;
}

.items, .items-mb {
  display: flex;
  align-items: center;
  gap: 50px;
}

#cuenta:hover, #salir:hover, #volver:hover {
  font-weight: bold;
}

.icon {
  width: 35px;
  height: 35px;
  margin-right: 3px;
  vertical-align: middle
}

.l-body {
  height: auto;
  line-height: normal;
}

#sign-b {
  height: 100%;
}

#nav-footer {
  display: none;
}

/* HTML DE LA PAGINA DE LOGEARSE Y REGISTRARSE */

#sign-a {
 color: white;
 cursor: pointer;
}

.config-header, .busqueda-header, .logear-header, .perfil-header {
  display: flex;
  color: white;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 40px;
}

.logear-btn-registro {
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.logear-btn-registro:hover, .logear-btn-entrar:hover {
  transform: scale(1.02);
  background-color: #505050;
  color: white;
}

.logear-contenido {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:white;
  top: 20%;
}

.logear-contenido form {
  flex-direction: column;
}

.logear-contenido a {
  color: white;
}

.logear-contenido a:hover {
  color: #ffe600;
}

.logear-mensaje-error {
  color: red;
  margin: 10px 0px 0px 0px;
}

.logear-form-nombre, .logear-form-contraseña, .logear-form-email {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 400px;
  height: 25px;
  padding: 10px 20px;
  margin-bottom: 5px;
  border: none;
}	

.logear-btn-entrar {
  border-radius: 4px;
  width: 440px;
  height: 45px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  background-color: #333;
  color: white;
  text-decoration: none;
  font-size: large;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}	

/* HTML DE LA PAGINA PRINCIPAL */

.busqueda-header h4 {
  font-size: 33px;
}

.post-icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.borrar-icon {
  width: 25px;
  height: 30px;
}

.subir-post, .notificaciones {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subir-post-btn, .noti-btn{
  transition: transform 0.2s ease, box-shadow 0.2s ease-out;
}

.subir-post-btn:hover {
  transform: scale(1.02);
}

.subir-post-dropdown, .dropdown-notificaciones, .post-dropdown-contenido, .com-dropdown-contenido, .subir-post-dropdownMB, .dropdown-notificacionesMB {
  background-color: #E2E5E9;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  width: 300px;
  padding: 10px;
  display: none;
  top: 135%;
  color: black;
  z-index: 2;
}

.subir-post-dropdown form, .subir-post-dropdownMB form {
  padding: 0;
  flex-direction: column;
}

.subir-post-dropdown textarea, .subir-post-dropdownMB textarea {
  margin: 10px 1px 8px 1px;
}

.fileInput {
  width: 150px;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease-out;
}

.fileInput:hover {
  background-color: #333;
  transform: scale(1.02);
}

.dropdown h4 {
  text-align: center;
  font-size: 15px;
}

.dropdown-notificaciones {
  width: 400px;
}

.caja-notificaciones img {
  border: rgb(136, 136, 136) 4px solid;
  margin: 1px 1px 10px 1px;
}

.caja-notificaciones {
  display: flex;
  align-items: center;
  margin: 10px 1px 1px 20px;
  justify-content: space-between;
}

.noti-contenido {
  display: flex;
  align-items: center;
}

.drop-info {
  margin: 1px 1px 1px 10px;
  line-height: 22px;
}

.drop-info b {
  font-size: 17px;
}

.drop-info span {
  font-size: 15px;
  color: #2c2c2c
}

.drop-info #tiempo {
  font-size: 12px;
}

.delete-button{
  transition: transform 0.2s ease, box-shadow 0.2s ease-out;
  margin: 1px 30px 1px 1px;
}

.delete-button:hover {
  transform: scale(1.1);
}

.comentario-form {
  display: flex;
  padding: 1px 12px;
}

.comentario-form form {
  padding: 1px 12px;
  width: 95%;
}

.subir-show, .noti-show{
  display: block;
}

.comentario-form textarea[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #333;
  font-size: 14px;
  outline: none;
  width: 100%;
  resize: none;
  font-family: 'Roboto', sans-serif;
}

.comentario-form textarea[type="text"]::placeholder {
  color: #333;
}

.comentario-form button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #444444;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.comentario-form button:hover {
  background-color: #504f4f;
}

.comentarios, .comentarios-oculto {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 1px 1px 15px 1px;
}

.comentarios-oculto {
  margin: 0;
}

.comentario-contenido img {
  margin: 1px 1px 1px 10px; 
}

.comentario-info {
  background-color: #333;
  padding: 10px;
  border-radius: 15px;
  margin: 1px 1px 1px 10px;
  width: 400px;
  color: #E2E5E9;
  word-break: break-all;
}

.comentario-av {
  display: flex;
  align-items: center;
}

.comentario-info #nombre-com, #com-texto, #com-fecha {
  padding: 3px 1px 10px 1px;
}

.comentario-info #com-fecha {
  font-size: 12px;
  padding-bottom: 0;
  color: #B0B3B8;
}

.borrar-comentario {
  margin: 1px 1px 1px 10px;
  display: flex;
  justify-content: center;
}

.com-dropdown-contenido {
  width: 100px;
  margin-top: 25px;
  top: inherit;
  padding: 0;
}

.com-show {
  display: block;
}

.mostrar-mas, .mostrar-menos {
  color: #E2E5E9;
}

.perfiles-sugerencias {
  margin-bottom: 50px;
  color: #E2E5E9;
}

.perfiles-sugerencias h2 {
  text-align: center;
}

.caja-sugerencias {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  line-height: normal;
}

.caja-sugerencias img, .comentario-contenido img, .caja-notificaciones img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.sugerencias-info {
  background-color: #444;
  padding: 10px;
  border-radius: 10px;
}

.sugerencias-contenido {
  display: flex;
  align-items: center;
}

.sugerencias-contenido div {
  display: flex;
  flex-direction: column;
}

.sugerencias-contenido a {
  font-weight: bold;
  color: #E2E5E9;
}

.sugerencias-contenido p {
  color: #B0B3B8;
  margin-top: 5px;
}

.sugerencias-contenido #suge-bio {
  margin-bottom: 6px;
}

.sugerencias-contenido #discord, #seguidores, #ubi {
  font-size: 14px;
}


/* HTML DE LA PAGINA DE CONFIGURACION */

#search-b {
  line-height: unset;
}

.lista-config {
  background-color: #333;
  width: 20%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.lista-config ul li {
  margin: 10px 0;
}

.lista-config ul li a {
  color: #c9c9c9;
  font-weight: bold;
}

.lista-config ul li a:hover {
  color: #ffe600;
}

.lista-config a.active-section {
  color: #ffe600;
}

.config-contenido {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.config-perfil, .busqueda-perfiles {
  width: 60%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 15px;
}

.config-perfil a {
  font-size: 13.3px;
}

.config-perfil form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.config-perfil .config-orden {
  grid-column: span 2;
}

.config-perfil label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.config-perfil input[type="text"], .config-perfil input[type="email"], .busqueda-header input[type="text"]{
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.config-perfil input[type="file"],
.config-perfil textarea,
.subir-post-dropdown textarea, 
.subir-post-dropdownMB textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  resize: none;
}

.config-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  margin-top: 5px;
}

.config-btn:hover {
  background-color: #505050;
}

.borrar-cuenta-btn, #crop-banner-btn{
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: #333;
  color: white;
  font-weight: bold;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.borrar-cuenta-btn:hover {
  transform: scale(1.01);
  background-color: #ff1a1a;
}

.perfil-pic-container {
  display: flex;
  justify-content: space-around;
}

.perfil-pic-container b {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil-pic-container p {
  margin-bottom: 5px;
  margin-top: 0;
}

.perfil-pic-caja {
  position: relative;
  width: 150px;
  height: 150px;
}

#perfil-pic, #perfil-pic-preview {
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.2s ease;
  width: 100%;
  height: 100%;
  border: 2.2px solid #333;
}

#perfil-pic-preview {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.perfil-banner-caja {
  position: relative;
  width: 500px;
}

#banner-pic, #banner-pic-preview, #banner-crop-container {
  cursor: pointer;
  height: 200px;
  border-radius: 5px;
  transition: transform 0.2s ease;
  border: 2.2px solid #333;
  object-fit: cover;
  width: 100%;
}

#banner-pic-preview, #banner-crop-container {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.discord label {
  margin-top: 10px;
}

/* HTML DE LA PAGINA DE BUSQUEDA */

.busqueda-header input[type="text"] {
  width: auto;
  padding: 16px 25px;
}

.busqueda-contenido {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.busqueda-perfiles {
  background-color: #333;
}

.config-orden h2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
  color: white;
}

.busqueda-resultado {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  justify-content: space-evenly;
}

.busqueda-resultado-perfil {
  background-color: #252628;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.2s ease;
}

.busqueda-perfil-img {
  display: block;
  margin: 0 auto 10px;
}

.busqueda-perfil-img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.busqueda-resultados-info a {
  color:white
}

.busqueda-resultados-info p {
  color:#B0B3B8;
}

.busqueda-locacion {
  font-size: 14px;
}

.busqueda-bio {
  margin: 10px 0 0;
  font-size: 14px;
  overflow: hidden; 
  word-wrap: inherit; 
  text-overflow: ellipsis;
}

/* HTML DE LA PAGINA DE PERFIL */

.perfil-nav {
  padding: 20px;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.perfil-detalles {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  align-items: baseline;
}

.perfil-publicaciones-container, .perfil-publicaciones-container-index {
  display: flex;
  gap: 20px;
  background-color: #333;
  width: 50%;
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.perfil-publicaciones-container-index {
  width: 40%;
  gap: 40px
}

.perfil-publicaciones-container h3, .perfil-publicaciones-container-index h3 {
  color: #dedcdc;
  font-size: 20px;
}

.perfil-user-informacion, .perfiles-sugerencias {
  padding: 20px;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 30%;
  position: sticky;
  top: 10px;
}

.perfil-user-informacion h3 {
  color: #dedcdc;
  font-size: 20px;
}

.perfil-user-informacion p {
  color: #c0c0c0;
  font-size: 16px;
  overflow: hidden;
  word-wrap: break-word;
}

.perfil-bio, .perfil-locacion, .perfil-fecha-unida {
  overflow: hidden; 
  word-wrap: break-word;
  color: white;
  text-align: center;
  padding-top: 15px;
}

.perfil-bio b, .perfil-locacion b, .perfil-fecha-unida b {
  color: #dedcdc; 
  font-size: 17px; 
  font-weight: normal;
}

.perfil-locacion, .perfil-fecha-unida {
  text-align: unset;
}

.perfil-user {
  display: flex;
  align-items: center;
}

.perfil-user-avatar img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: rgb(136, 136, 136) 5px solid;
}

.perfil-user-info ul {
  padding-left: 7%;
}

.perfil-user-info h5 {
  color: #dedcdc;
  white-space: nowrap;
  font-size: 27px;
}

.perfil-nav-info ul {
  padding-top: 5%;
  white-space: nowrap; 
}

.perfil-nav-info #text {
  margin: 0;
  padding-left: 5%;
  
}

.perfil-nav-info span {
  color: #B0B3B8;
  font-size: 16px;
  padding-left: 5%;
}

.seguir-btn {
  color: black;
  background-color: white;
  border: none;
  padding: 20px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-weight: bold;
  font-size: 20px;
}

.perfil-banner {
  margin: 0;
  font-size: 0;
}

.perfil-banner img {
  width: 100%; 
  height: 330px; 
  object-fit: cover;
}

.perfil-publicaciones {
  background-color: #242424;
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

.perfil-posts img, .perfil-posts video, .index-perfil-posts img  {
  cursor: pointer;
  height: 460px;
  width: 100%;
  object-fit: contain;
}

.index-perfil-posts img {
  height: auto;
}

.perfil-posts, .index-perfil-posts {
  background-color: #292929;
  display: flex;
  
}

.perfil-post-user, .perfil-post-bottom {
  display: flex;
  align-items: center;
  margin: 8px 1px 8px 9px;
  justify-content: space-between;
}

.perfil-post-avatar {
  margin: 1px 1px 10px 1px;
  display: flex;
  align-items: center;
}


.perfil-post-avatar img, .comentario-form img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: rgb(136, 136, 136) 3px solid;
}

.perfil-post-nombre ul, .perfil-fecha ul, .perfil-post-likes ul {
  margin-left: 7px;
  color:#B0B3B8;
}

.perfil-post-nombre bold, .perfil-post-nombre a {
  font-size: 17px;
  color: white;
  cursor: pointer;
}

.discord p {
  margin-bottom: 20px;
}

.perfil-fecha ul {
  margin-top: 6px;
}

.perfil-fecha h2 {
  font-size: 12px;
  color: #B0B3B8;
}

.perfil-post-likes ul {
  margin-top: 3px;
  padding: 1px 8px;
}

.perfil-post-bottom {
  flex-direction: column;
  align-items: baseline;
}

.like-btn {
  color: #B0B3B8;
  font-size: 18px;
  transition: transform 0.2s ease, 0.1s ease-out;
  border-radius: 6px;
  padding: 2px 8px;
}

.like-btn:hover {
  background-color: #505050;
}

.perfil-post-caption {
  color: #E2E5E9;
  font-size: 17px;
  word-wrap: break-word;
  overflow: hidden;
}

.perfil-post-caption p {
  margin: 3px 10px 16px 16px;
}

.perfil-dropbtn-post {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}

.post-dropbtn, .borrar-com-btn, .like-btn, .mostrar-mas, .mostrar-menos, .delete-button, .subir-post-btn, .noti-btn, .delete-post-btn, .borrar-btn, .sugerencias-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.post-dropbtn:hover, .borrar-com-btn:hover {
  background-color: #444444;
  border-radius: 50%;
}

.post-dropdown-contenido {
  width: 130px;
}

.delete-post-btn:hover, .borrar-btn:hover{
  font-weight: bold;
  transform: scale(1.01);
}

.delete-post-form, .borrar-com-form {
  padding: 9px 16px;
  flex-direction: column;
}

.show-post {
  display: block;
}

/* HTML DE LA PAGINA DE BUSQUEDA */

footer {
  text-align: center;
  padding: 2px 0;
  background-color: #333;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  clear: both;
}

body {
  zoom: 90%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  height: 100%;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 27px;
  background-color:#242424;
}

/* Telefonos */
@media (max-width: 768px) {
  body {
    zoom:75%
  }

  .config-header, .logear-header, .perfil-header {
    flex-direction: column;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .config-orden h2 {
    margin-bottom: 10px;
  }
  
  .nav-footer {
    padding: 10px 0px 10px 0px;
    position: fixed;
  }

  #nav-footer {
    display: block;
  }

  form {
    padding: 0;
  }

  #header-pc {
    display: none;
  }
/* Busqueda html */
  .busqueda-header {
    padding: 10px 0px 10px 0px;
    justify-content: space-around;
  }

  .busqueda-header h4 {
    margin: 10px 15px 10px 0px;
  }

  .busqueda-header input[type="text"] {
    margin: 0px 0px 10px 10px;
  }

  .busqueda-contenido {
    gap: 15px;
  }

  .busqueda-perfiles {
    margin-bottom: 100px;
  }

  #search-l {
    width: 40%;
    position: sticky;
    top: 10px
  }

  .busqueda-resultado-perfil {
    width: 100%;
    padding: 10px;
  }

/* Logear html */
  .logear-btn-registro, .logear-btn-entrar {
    margin: 10px 0;
  }

  .logear-contenido h1 {
    margin-bottom: 10px;
  }

/* Perfil html */
  .perfil-detalles {
    padding: 10px;
    margin-top: 20px;
    gap: 20px;
  }

  .perfil-bio b, .perfil-locacion b, .perfil-fecha-unida b {
    font-size: 15px;
  }

  .perfil-publicaciones-container, .perfil-publicaciones-container-index {
    margin-bottom: 100px;
    width: 100%;
  }

  .perfil-publicaciones-container {
    width: 55%;
  }

  .seguir-btn {
    font-size: 11px;
    padding: 10px 9px;
  }

  .perfil-user-avatar img {
    width: 85px;
    height: 85px;
    border: rgb(136, 136, 136) 3px solid;
  }

  .perfil-posts img, .perfil-posts video, .index-perfil-posts img {
    height: auto;
  }

  .perfil-user-info h5 {
    font-size: 20px;
  }

  .perfil-header h1 {
    padding: 10px 0px 10px 0px;
  }
  
  .perfil-user-info ul {
    padding-left: 2%;
  }

  .perfil-nav-info span {
    padding-left: 3%;
  }

  .perfil-user-informacion {
    width: 30%;
    line-height: 25px;
  }

  .perfil-banner img {
    height: 200px;
  }

/* Config  html */
  #banner-pic, #banner-pic-preview, #banner-crop-container {
    width: 100%;
    height: 90px;
  }

  .borrar-cuenta-btn {
    margin: 10px 0px 0px 0px;
    padding: 10px 15px;
  }

  .lista-config {
    width: 30%;
  }

  .config-contenido {
    gap: 10px;
  }

  .config-perfil form {
    grid-template-columns: 1fr;
  }

  .config-perfil, .busqueda-perfiles {
    width: 100%;
    margin-left: 0;
  }

  .config-perfil input[type="text"], .config-perfil input[type="email"], .busqueda-header input[type="text"] {
    width: 100%;
  }

  .perfil-pic-caja {
    width: 90px;
    height: 90px;
  }

  .perfil-banner-caja {
    width: 80%;
    height: 50px;
  }

  .perfil-pic-container p {
    font-size: 12px;
  }

  .perfil-pic-container {
    margin-bottom: 10px;
  }

  #crop-banner-btn {
    top: 50%;
    position: relative
  }

/* Index html */
  .fileInput {
    width: 100px;
  }

  .comentario-info {
    width: 100%;
  }

  .post-dropdown-contenido, .com-dropdown-contenido {
    width: 50px;
    padding: 2px 15px 2px 15px;
  }

  .com-dropdown-contenido {
    padding: 3px 10px 3px 10px;
  }
  
  .dropdown-contenidoMB, .dropdown-notificacionesMB, .subir-post-dropdownMB, .perfiles-sugerencias {
    bottom: 150%;
    top: unset;
  }

  .dropdown-notificacionesMB {
    width: 250px;
    left: 1px;
  }

  .caja-notificaciones {
    margin: 15px 0px 0px 0px;
  }

  .subir-post-dropdownMB {
    width: 220px;
    left: 170%;
  }

  .caja-notificaciones img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0;
    border: rgb(136, 136, 136) 2px solid;
  }

  .delete-button {
    margin: 0;
    padding: 0px 0px 0px 60px;
  }

  .drop-info {
    line-height: 18px
  }

  .drop-info b, .drop-info span {
    font-size: 12px;
  }

  .perfiles-sugerencias {
    position: absolute;
    width: 80%;
    display: none;
    right: 6%;
    margin: 0;
  }

  .sugerencias-contenido div {
    align-items: flex-start;
  }

  .show-suge {
    display: block;
  }

  .items-mb {
    gap: 40px;
    justify-content: space-evenly;
  }
}
